USE [master]
GO
/****** Object:  Database [CaseManagement]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE DATABASE [CaseManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CaseManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CaseManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CaseManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CaseManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CaseManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CaseManagement]
GO
/****** Object:  Schema [cases]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE SCHEMA [cases]
GO
/****** Object:  Table [cases].[AuditInvoice]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[AuditInvoice](
	[AuditInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[InvoiceLineId] [int] NULL,
	[CaseId] [int] NULL,
	[SessionId] [int] NULL,
	[BillingRuleId] [int] NULL,
	[AuditType] [nvarchar](50) NOT NULL,
	[AuditData] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CaseNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_AuditInvoice] PRIMARY KEY CLUSTERED 
(
	[AuditInvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AuditInvoice_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cases].[BillingRule]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[BillingRule](
	[BillingRuleId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[RuleName] [nvarchar](100) NOT NULL,
	[ServiceCode] [nvarchar](20) NOT NULL,
	[MinutesPerUnit] [int] NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Priority] [int] NOT NULL,
	[EffectiveDate] [datetime2](0) NOT NULL,
	[ExpirationDate] [datetime2](0) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_BillingRule] PRIMARY KEY CLUSTERED 
(
	[BillingRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BillingRule_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cases].[Case]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[Case](
	[CaseId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[CaseNumber] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](25) NULL,
	[ClientId] [int] NULL,
	[OpenedDate] [datetime2](0) NOT NULL,
	[ClosedDate] [datetime2](0) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Case] PRIMARY KEY CLUSTERED 
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Case_CaseNumber] UNIQUE NONCLUSTERED 
(
	[CaseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Case_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cases].[Claim]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[Claim](
	[ClaimId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[ClaimNumber] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[GeneratedDate] [datetime2](7) NULL,
	[EdiDocumentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cases].[Document]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[Document](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[VersionId] [uniqueidentifier] NOT NULL,
	[CaseId] [int] NULL,
	[SessionId] [int] NULL,
	[WorkbookQId] [int] NULL,
	[DocumentType] [varchar](50) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[FileName] [nvarchar](255) NULL,
	[ContentType] [varchar](100) NOT NULL,
	[FileData] [varbinary](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CaseNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cases].[DocumentExtraction]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[DocumentExtraction](
	[DocumentExtractionId] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NOT NULL,
	[ExtractionType] [nvarchar](50) NOT NULL,
	[ModelName] [nvarchar](100) NULL,
	[RawText] [nvarchar](max) NULL,
	[ExtractedJson] [nvarchar](max) NULL,
	[ValidationErrors] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentExtractionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cases].[Invoice]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[Invoice](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[CaseId] [int] NOT NULL,
	[SessionId] [int] NULL,
	[InvoiceDate] [datetime2](0) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[IsActive] [bit] NOT NULL,
	[CaseNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Invoice_InvoiceNumber] UNIQUE NONCLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Invoice_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cases].[InvoiceLine]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[InvoiceLine](
	[InvoiceLineId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ServiceCode] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Units] [decimal](10, 2) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[SessionId] [int] NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_InvoiceLine] PRIMARY KEY CLUSTERED 
(
	[InvoiceLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InvoiceLine_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cases].[Payer]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[Payer](
	[PayerId] [int] IDENTITY(1,1) NOT NULL,
	[PublicId] [uniqueidentifier] NOT NULL,
	[PayerCode] [nvarchar](50) NULL,
	[PayerName] [nvarchar](200) NOT NULL,
	[PayerType] [nvarchar](50) NULL,
	[StateCode] [nvarchar](10) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Website] [nvarchar](500) NULL,
	[PayerIdentifier] [nvarchar](100) NULL,
	[EDIReceiverId] [nvarchar](100) NULL,
	[ClaimsSubmissionMethod] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime2](0) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Payer] PRIMARY KEY CLUSTERED 
(
	[PayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Payer_PayerName] UNIQUE NONCLUSTERED 
(
	[PayerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Payer_PublicId] UNIQUE NONCLUSTERED 
(
	[PublicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cases].[Session]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[SessionDate] [datetime2](7) NOT NULL,
	[ProviderId] [int] NULL,
	[Location] [nvarchar](200) NULL,
	[NotesSummary] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[CPTCode] [nvarchar](20) NULL,
	[CPTModifier1] [nvarchar](10) NULL,
	[CPTModifier2] [nvarchar](10) NULL,
	[Units] [decimal](10, 2) NULL,
	[DurationMinutes] [int] NULL,
	[BillingStatus] [nvarchar](50) NULL,
	[SessionStatus] [nvarchar](50) NULL,
	[IsBillable] [bit] NOT NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](0) NULL,
	[InvoiceId] [int] NULL,
	[AuthorizationNumber] [nvarchar](100) NULL,
	[PlaceOfServiceCode] [nvarchar](10) NULL,
	[SourceDocumentId] [int] NULL,
	[RawExtractionJson] [nvarchar](max) NULL,
	[ExtractionStatus] [nvarchar](50) NULL,
	[ReviewedBy] [nvarchar](100) NULL,
	[ReviewedDate] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [cases].[Workbook]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[Workbook](
	[WorkbookId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[WorkbookTypeId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[DueDate] [datetime2](7) NULL,
	[CompletedDate] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkbookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cases].[WorkbookDocument]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[WorkbookDocument](
	[WorkbookDocumentId] [int] IDENTITY(1,1) NOT NULL,
	[WorkbookId] [int] NOT NULL,
	[DocumentId] [int] NOT NULL,
	[DocumentType] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_WorkbookDocument] PRIMARY KEY CLUSTERED 
(
	[WorkbookDocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cases].[WorkbookQ]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[WorkbookQ](
	[WorkbookQId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[QueryKey] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkbookQId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cases].[WorkbookQRule]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[WorkbookQRule](
	[WorkbookQRuleId] [int] IDENTITY(1,1) NOT NULL,
	[WorkbookQId] [int] NOT NULL,
	[DocumentType] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkbookQRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [cases].[WorkbookType]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cases].[WorkbookType](
	[WorkbookTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_WorkbookType] PRIMARY KEY CLUSTERED 
(
	[WorkbookTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_WorkbookType_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationLogs]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NULL,
	[Level] [nvarchar](16) NULL,
	[TimeStamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK_ApplicationLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditInvoice_InvoiceId]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_AuditInvoice_InvoiceId] ON [cases].[AuditInvoice]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Document_CaseNumber]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_Document_CaseNumber] ON [cases].[Document]
(
	[CaseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoice_CaseId]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_CaseId] ON [cases].[Invoice]
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoice_SessionId]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invoice_SessionId] ON [cases].[Invoice]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InvoiceLine_InvoiceId]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceLine_InvoiceId] ON [cases].[InvoiceLine]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payer_IsActive]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payer_IsActive] ON [cases].[Payer]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payer_PayerCode]    Script Date: 5/20/2026 12:37:50 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payer_PayerCode] ON [cases].[Payer]
(
	[PayerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [cases].[AuditInvoice] ADD  CONSTRAINT [DF_AuditInvoice_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cases].[AuditInvoice] ADD  CONSTRAINT [DF_AuditInvoice_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[BillingRule] ADD  CONSTRAINT [DF_BillingRule_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cases].[BillingRule] ADD  CONSTRAINT [DF_BillingRule_Priority]  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [cases].[BillingRule] ADD  CONSTRAINT [DF_BillingRule_EffectiveDate]  DEFAULT (sysutcdatetime()) FOR [EffectiveDate]
GO
ALTER TABLE [cases].[BillingRule] ADD  CONSTRAINT [DF_BillingRule_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[BillingRule] ADD  CONSTRAINT [DF_BillingRule_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[Case] ADD  CONSTRAINT [DF_Case_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cases].[Case] ADD  CONSTRAINT [DF_Case_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [cases].[Case] ADD  CONSTRAINT [DF_Case_OpenedDate]  DEFAULT (sysutcdatetime()) FOR [OpenedDate]
GO
ALTER TABLE [cases].[Case] ADD  CONSTRAINT [DF_Case_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[Case] ADD  CONSTRAINT [DF_Case_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[Document] ADD  DEFAULT (newid()) FOR [VersionId]
GO
ALTER TABLE [cases].[Document] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[Document] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[DocumentExtraction] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[Invoice] ADD  CONSTRAINT [DF_Invoice_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cases].[Invoice] ADD  CONSTRAINT [DF_Invoice_InvoiceDate]  DEFAULT (sysutcdatetime()) FOR [InvoiceDate]
GO
ALTER TABLE [cases].[Invoice] ADD  CONSTRAINT [DF_Invoice_Status]  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [cases].[Invoice] ADD  CONSTRAINT [DF_Invoice_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [cases].[Invoice] ADD  CONSTRAINT [DF_Invoice_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[Invoice] ADD  CONSTRAINT [DF_Invoice_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[InvoiceLine] ADD  CONSTRAINT [DF_InvoiceLine_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cases].[InvoiceLine] ADD  CONSTRAINT [DF_InvoiceLine_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[InvoiceLine] ADD  CONSTRAINT [DF_InvoiceLine_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[Payer] ADD  CONSTRAINT [DF_Payer_PublicId]  DEFAULT (newsequentialid()) FOR [PublicId]
GO
ALTER TABLE [cases].[Payer] ADD  CONSTRAINT [DF_Payer_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[Payer] ADD  CONSTRAINT [DF_Payer_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[Session] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[Session] ADD  CONSTRAINT [DF_Session_BillingStatus]  DEFAULT ('Pending') FOR [BillingStatus]
GO
ALTER TABLE [cases].[Session] ADD  CONSTRAINT [DF_Session_SessionStatus]  DEFAULT ('Draft') FOR [SessionStatus]
GO
ALTER TABLE [cases].[Session] ADD  CONSTRAINT [DF_Session_IsBillable]  DEFAULT ((1)) FOR [IsBillable]
GO
ALTER TABLE [cases].[Session] ADD  CONSTRAINT [DF_Session_ExtractionStatus]  DEFAULT ('Pending') FOR [ExtractionStatus]
GO
ALTER TABLE [cases].[Workbook] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [cases].[Workbook] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[Workbook] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[WorkbookDocument] ADD  CONSTRAINT [DF_WorkbookDocument_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[WorkbookDocument] ADD  CONSTRAINT [DF_WorkbookDocument_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[WorkbookQ] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[WorkbookQ] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[WorkbookType] ADD  CONSTRAINT [DF_WorkbookType_IsRequired]  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [cases].[WorkbookType] ADD  CONSTRAINT [DF_WorkbookType_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [cases].[WorkbookType] ADD  CONSTRAINT [DF_WorkbookType_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [cases].[AuditInvoice]  WITH CHECK ADD  CONSTRAINT [FK_AuditInvoice_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [cases].[Invoice] ([InvoiceId])
GO
ALTER TABLE [cases].[AuditInvoice] CHECK CONSTRAINT [FK_AuditInvoice_Invoice]
GO
ALTER TABLE [cases].[Document]  WITH CHECK ADD  CONSTRAINT [FK_Document_Case] FOREIGN KEY([CaseId])
REFERENCES [cases].[Case] ([CaseId])
GO
ALTER TABLE [cases].[Document] CHECK CONSTRAINT [FK_Document_Case]
GO
ALTER TABLE [cases].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Case] FOREIGN KEY([CaseId])
REFERENCES [cases].[Case] ([CaseId])
GO
ALTER TABLE [cases].[Invoice] CHECK CONSTRAINT [FK_Invoice_Case]
GO
ALTER TABLE [cases].[InvoiceLine]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceLine_Invoice] FOREIGN KEY([InvoiceId])
REFERENCES [cases].[Invoice] ([InvoiceId])
GO
ALTER TABLE [cases].[InvoiceLine] CHECK CONSTRAINT [FK_InvoiceLine_Invoice]
GO
ALTER TABLE [cases].[WorkbookDocument]  WITH CHECK ADD  CONSTRAINT [FK_WorkbookDocument_Workbook] FOREIGN KEY([WorkbookId])
REFERENCES [cases].[Workbook] ([WorkbookId])
GO
ALTER TABLE [cases].[WorkbookDocument] CHECK CONSTRAINT [FK_WorkbookDocument_Workbook]
GO
/****** Object:  StoredProcedure [cases].[ResolveCaseFromDocuments]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [cases].[ResolveCaseFromDocuments] @CaseNumber = 'CASE-7524488575'
CREATE   PROCEDURE [cases].[ResolveCaseFromDocuments]
	@CaseNumber NVARCHAR(50),
	@ClientId INT = NULL,
	@Title NVARCHAR(200) = NULL,
	@CreatedBy NVARCHAR(100) = 'system',
	@Description NVARCHAR(MAX) = NULL,
	@Priority NVARCHAR(25) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @CaseId INT;

	IF @CaseNumber IS NULL
		RETURN;

	BEGIN TRAN;

	-- 1. Find existing case
	SELECT @CaseId = CaseId
	FROM [cases].[Case]
	WHERE CaseNumber = @CaseNumber;

	-- 2. Create placeholder case if missing
	IF @CaseId IS NULL
	BEGIN
		INSERT INTO [cases].[Case]
		(
			CaseNumber,
			Title,
			Description,
			Status,
			Priority,
			ClientId,
			CreatedBy
		)
		VALUES
		(
			@CaseNumber,
			ISNULL(@Title, 'Unknown Case'),
			@Description,
			'Open',
			@Priority,
			ISNULL(@ClientId, 0),
			@CreatedBy
		);

		SET @CaseId = SCOPE_IDENTITY();
	END

	-- 3. Link documents
	UPDATE d
	SET d.CaseId = @CaseId
	FROM [cases].[Document] d
	WHERE d.CaseNumber = @CaseNumber
	  AND d.CaseId IS NULL;

	COMMIT TRAN;

	-- 4. Return summary
	SELECT
		@CaseId AS CaseId,
		@CaseNumber AS CaseNumber,
		@@ROWCOUNT AS DocumentsLinked;
END
/**************
BEGIN TRAN;

DECLARE @SourceDocumentId INT = 6;
DECLARE @TargetDocumentId INT = 4;

UPDATE d_target
SET d_target.FileData = d_source.FileData
FROM [cases].[Document] d_target
JOIN [cases].[Document] d_source
	ON d_source.DocumentId = @SourceDocumentId
WHERE d_target.DocumentId = @TargetDocumentId
  AND d_source.FileData IS NOT NULL;

-- Uncomment ONE of these when ready:

-- COMMIT TRAN;
-- ROLLBACK TRAN;
****************/
GO
/****** Object:  StoredProcedure [cases].[usp_Case_GetDocuments]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cases].[usp_Case_GetDocuments]
(
	@CaseId INT
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		d.DocumentId,
		d.CaseId,
		d.CaseNumber,
		--d.WorkbookQId,
		--d.SessionId,
		d.Title,
		d.DocumentType,
	   
		--d.FileName,
		--d.ContentType,
		d.CreatedDate
		--d.CreatedBy
	FROM cases.Document d
	WHERE d.CaseId = @CaseId
	  AND d.IsActive = 1
	ORDER BY d.CreatedDate DESC;
END
GO
/****** Object:  StoredProcedure [cases].[usp_Document_GetByContext]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [cases].[usp_Document_GetByContext]
(
	@DocumentId   INT           = NULL,
	@CaseId       INT           = NULL,
	@WorkbookQId  INT           = NULL,
	@SessionId    INT           = NULL,
	@DocumentType VARCHAR(100)  = NULL
)
AS
/*
EXEC cases.[usp_Document_GetByContext] @DocumentId = 4
EXEC cases.[usp_Document_GetByContext] @CaseId = 2, @DocumentType = 'IntakeForm'
EXEC cases.[usp_Document_GetByContext] @DocumentType = 'IntakeForm', @DocumentType = 'session'
*/
BEGIN
	SET NOCOUNT ON;

	SELECT TOP 1
		DocumentId,
		VersionId,
		CaseId,
		WorkbookQId,
		SessionId,
		DocumentType,
		Title,
		FileName,
		ContentType,
		FileData,
		CreatedDate,
		CreatedBy,
		IsActive
	FROM [cases].[Document]
	WHERE IsActive = 1
	  AND (@DocumentId   IS NULL OR DocumentId   = @DocumentId)
	  AND (@CaseId       IS NULL OR CaseId       = @CaseId)
	  AND (@WorkbookQId  IS NULL OR WorkbookQId  = @WorkbookQId)
	  AND (@SessionId    IS NULL OR SessionId    = @SessionId)
	  AND (@DocumentType IS NULL OR DocumentType = @DocumentType)
	ORDER BY CreatedDate DESC;
END
GO
/****** Object:  StoredProcedure [cases].[usp_Document_GetById]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [cases].[usp_Document_GetById]
(
	@DocumentId INT
)
AS
/*
EXEC cases.[usp_Document_GetById] @DocumentId = 4
*/
BEGIN
	SET NOCOUNT ON;

	SELECT
		DocumentId,
		VersionId,
		CaseId,
		WorkbookQId,
		SessionId,
		DocumentType,
		Title,
		FileName,
		ContentType,
		FileData,
		CreatedDate,
		CreatedBy,
		IsActive
	FROM [cases].[Document]
	WHERE
		DocumentId = @DocumentId
		AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [cases].[usp_Document_List]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cases].[usp_Document_List]
(
	@DocumentType  VARCHAR(50)  = NULL,
	@CaseId        INT          = NULL,
	@IsActive      BIT          = 1
)
AS
-- exec [cases].[usp_Document_List] @DocumentType = 'Other'
BEGIN
	SET NOCOUNT ON;

	SELECT
		d.DocumentId,
		--d.CaseId,
		--d.CaseNumber,
		--d.WorkbookQId,
		--d.SessionId,
		--d.DocumentType,
		d.Title,
		d.FileName,
		d.ContentType,
		d.CreatedDate,
		d.CreatedBy
	FROM cases.Document d
	WHERE
		(@DocumentType IS NULL OR d.DocumentType = @DocumentType)
		AND (@CaseId    IS NULL OR d.CaseId       = @CaseId)
		AND (@IsActive  IS NULL OR d.IsActive      = @IsActive)
	ORDER BY d.CreatedDate DESC;

END
GO
/****** Object:  StoredProcedure [cases].[usp_DocumentExtraction_Insert]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cases].[usp_DocumentExtraction_Insert]
(
	@DocumentId INT,
	@ExtractionType NVARCHAR(50),
	@ModelName NVARCHAR(100) = NULL,
	@RawText NVARCHAR(MAX) = NULL,
	@ExtractedJson NVARCHAR(MAX) = NULL,
	@ValidationErrors NVARCHAR(MAX) = NULL,
	@Status NVARCHAR(50),
	@CreatedBy NVARCHAR(100)
)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [cases].[DocumentExtraction]
	(
		DocumentId,
		ExtractionType,
		ModelName,
		RawText,
		ExtractedJson,
		ValidationErrors,
		Status,
		CreatedDate,
		CreatedBy
	)
	VALUES
	(
		@DocumentId,
		@ExtractionType,
		@ModelName,
		@RawText,
		@ExtractedJson,
		@ValidationErrors,
		@Status,
		SYSUTCDATETIME(),
		@CreatedBy
	);

	SELECT SCOPE_IDENTITY() AS DocumentExtractionId;
END
GO
/****** Object:  StoredProcedure [cases].[usp_GetCalendar]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cases].[usp_GetCalendar]
--    @ClientId INT = NULL
	@year INT  = NULL,
	@month INT = NULL
	--EXEC cases.usp_GetCalendar  @month = 1001 ,@year = 2026
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		CaseId,
		CaseNumber,
		Title,
		Status,
		Priority,
		ClientId,
		OpenedDate
	FROM cases.[Case]
	WHERE @year IS NULL OR ClientId = @year
	ORDER BY OpenedDate DESC;
END
GO
/****** Object:  StoredProcedure [cases].[usp_Invoice_GenerateFromSession]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXEC [cases].[usp_Invoice_GenerateFromSession]
	@SessionId = 1,
	@CreatedBy = 'system';
*/
CREATE   PROCEDURE [cases].[usp_Invoice_GenerateFromSession]
(
	@SessionId     INT,
	@CreatedBy     NVARCHAR(100)
)
AS
BEGIN

	SET NOCOUNT ON;

	/* =========================================================
	   Variables
	   ========================================================= */

	DECLARE
		@CaseId                INT,
		@CaseNumber            NVARCHAR(50),

		@StartTime             DATETIME2(0),
		@EndTime               DATETIME2(0),

		@DurationMinutes       INT,

		@BillingRuleId         INT,
		@ServiceCode           NVARCHAR(20),
		@MinutesPerUnit        INT,
		@Rate                  DECIMAL(18,2),

		@Units                 DECIMAL(10,2),
		@Amount                DECIMAL(18,2),

		@InvoiceId             INT,
		@InvoiceLineId         INT,

		@InvoiceNumber         NVARCHAR(50),

		@AuditData             NVARCHAR(MAX);




	/* =========================================================
	   Load Session
	   ========================================================= */

	/*
		UPDATE THIS QUERY
		to match your actual session table structure.
	*/

	SELECT
		@CaseId = s.CaseId,
		@StartTime = s.StartTime,
		@EndTime = s.EndTime
	FROM [cases].[Session] s
	WHERE s.SessionId = @SessionId;



	IF @CaseId IS NULL
	BEGIN
		THROW 50001, 'Session not found.', 1;
	END;



	/* =========================================================
	   Load Case
	   ========================================================= */

	SELECT
		@CaseNumber = c.CaseNumber
	FROM [cases].[Case] c
	WHERE c.CaseId = @CaseId;



	/* =========================================================
	   Calculate Duration
	   ========================================================= */

	SET @DurationMinutes =
		DATEDIFF(MINUTE, @StartTime, @EndTime);



	IF @DurationMinutes <= 0
	BEGIN
		THROW 50002, 'Invalid session duration.', 1;
	END;



	/* =========================================================
	   Load Billing Rule
	   MVP = first active rule
	   ========================================================= */

	SELECT TOP 1
		@BillingRuleId = br.BillingRuleId,
		@ServiceCode = br.ServiceCode,
		@MinutesPerUnit = br.MinutesPerUnit,
		@Rate = br.Rate
	FROM [cases].[BillingRule] br
	WHERE br.IsActive = 1
	ORDER BY br.Priority ASC,
			 br.BillingRuleId ASC;



	IF @BillingRuleId IS NULL
	BEGIN
		THROW 50003, 'No active billing rule found.', 1;
	END;



	/* =========================================================
	   Calculate Units
	   MVP Strategy = FLOOR
	   ========================================================= */

	SET @Units =
		FLOOR(
			CAST(@DurationMinutes AS DECIMAL(10,2))
			/ CAST(@MinutesPerUnit AS DECIMAL(10,2))
		);



	IF @Units <= 0
	BEGIN
		THROW 50004, 'Calculated units were zero.', 1;
	END;



	/* =========================================================
	   Calculate Amount
	   ========================================================= */

	SET @Amount =
		@Units * @Rate;



	/* =========================================================
	   Generate Invoice Number
	   ========================================================= */

	SET @InvoiceNumber =
		CONCAT(
			'INV-',
			FORMAT(GETDATE(), 'yyyyMMdd'),
			'-',
			RIGHT(
				'0000' +
				CAST(
					ISNULL(
					(
						SELECT COUNT(*) + 1
						FROM [cases].[Invoice]
						WHERE CAST(CreatedDate AS DATE) = CAST(GETDATE() AS DATE)
					),
					1
					) AS VARCHAR(10)
				),
				4
			)
		);



	/* =========================================================
	   Create Invoice
	   ========================================================= */

	INSERT INTO [cases].[Invoice]
	(
		InvoiceNumber,
		CaseId,
		CaseNumber,
		SessionId,
		InvoiceDate,
		Status,
		TotalAmount,
		CreatedBy
	)
	VALUES
	(
		@InvoiceNumber,
		@CaseId,
		@CaseNumber,
		@SessionId,
		SYSUTCDATETIME(),
		'Draft',
		@Amount,
		@CreatedBy
	);



	SET @InvoiceId = SCOPE_IDENTITY();



	/* =========================================================
	   Create Invoice Line
	   ========================================================= */

	INSERT INTO [cases].[InvoiceLine]
	(
		InvoiceId,
		ServiceCode,
		Description,
		Units,
		Rate,
		Amount,
		SessionId,
		CreatedBy
	)
	VALUES
	(
		@InvoiceId,
		@ServiceCode,
		CONCAT('Generated from session ', @SessionId),
		@Units,
		@Rate,
		@Amount,
		@SessionId,
		@CreatedBy
	);



	SET @InvoiceLineId = SCOPE_IDENTITY();



	/* =========================================================
	   Build Audit JSON
	   ========================================================= */

	SET @AuditData =
	(
		SELECT
			@InvoiceId             AS InvoiceId,
			@InvoiceNumber         AS InvoiceNumber,
			@CaseId                AS CaseId,
			@CaseNumber            AS CaseNumber,
			@SessionId             AS SessionId,
			@DurationMinutes       AS DurationMinutes,
			@BillingRuleId         AS BillingRuleId,
			@ServiceCode           AS ServiceCode,
			@MinutesPerUnit        AS MinutesPerUnit,
			@Units                 AS Units,
			@Rate                  AS Rate,
			@Amount                AS Amount,
			SYSUTCDATETIME()       AS GeneratedDate
		FOR JSON PATH,
		WITHOUT_ARRAY_WRAPPER
	);



	/* =========================================================
	   Audit Row
	   ========================================================= */

	INSERT INTO [cases].[AuditInvoice]
	(
		InvoiceId,
		InvoiceLineId,
		CaseId,
		CaseNumber,
		SessionId,
		BillingRuleId,
		AuditType,
		AuditData,
		CreatedBy
	)
	VALUES
	(
		@InvoiceId,
		@InvoiceLineId,
		@CaseId,
		@CaseNumber,
		@SessionId,
		@BillingRuleId,
		'InvoiceGenerated',
		@AuditData,
		@CreatedBy
	);



	/* =========================================================
	   Return Invoice
	   ========================================================= */

	SELECT
		i.InvoiceId,
		i.InvoiceNumber,
		i.CaseId,
		i.CaseNumber,
		i.SessionId,
		i.TotalAmount,
		i.Status,
		i.CreatedDate
	FROM [cases].[Invoice] i
	WHERE i.InvoiceId = @InvoiceId;

END
GO
/****** Object:  StoredProcedure [cases].[usp_Invoice_GetDetails]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec  [cases].[usp_Invoice_GetDetails]  @InvoiceId = 3
CREATE   PROCEDURE [cases].[usp_Invoice_GetDetails]
(
	@InvoiceId INT
)
AS
BEGIN

	SET NOCOUNT ON;

	/* =========================================================
	   Invoice Header
	   ========================================================= */

	SELECT
		i.InvoiceId,
		i.PublicId,
		i.InvoiceNumber,

		i.CaseId,
		i.CaseNumber,

		c.Title              AS CaseTitle,
		c.Status             AS CaseStatus,

		i.SessionId,

		i.InvoiceDate,
		i.Status,

		i.TotalAmount,
		i.Notes,

		i.CreatedBy,
		i.CreatedDate,

		i.ModifiedBy,
		i.ModifiedDate,

		i.IsActive

	FROM [cases].[Invoice] i
	INNER JOIN [cases].[Case] c
		ON c.CaseId = i.CaseId
	WHERE i.InvoiceId = @InvoiceId;



	/* =========================================================
	   Invoice Lines
	   ========================================================= */

	SELECT
		il.InvoiceLineId,
		il.PublicId,

		il.InvoiceId,

		il.ServiceCode,
		il.Description,

		il.Units,
		il.Rate,
		il.Amount,

		il.SessionId,

		il.CreatedBy,
		il.CreatedDate,

		il.IsActive

	FROM [cases].[InvoiceLine] il
	WHERE il.InvoiceId = @InvoiceId
	ORDER BY il.InvoiceLineId ASC;



	/* =========================================================
	   Audit Events
	   ========================================================= */

	SELECT
		ai.AuditInvoiceId,
		ai.PublicId,

		ai.InvoiceId,
		ai.InvoiceLineId,

		ai.CaseId,
		ai.CaseNumber,

		ai.SessionId,

		ai.BillingRuleId,

		ai.AuditType,

		ai.AuditData,

		ai.CreatedBy,
		ai.CreatedDate

	FROM [cases].[AuditInvoice] ai
	WHERE ai.InvoiceId = @InvoiceId
	ORDER BY ai.CreatedDate ASC,
			 ai.AuditInvoiceId ASC;

END
GO
/****** Object:  StoredProcedure [cases].[usp_Invoice_List]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- exec [cases].[usp_Invoice_List]
CREATE   PROCEDURE [cases].[usp_Invoice_List]
(
	@CaseId        INT = NULL,
	@Status        NVARCHAR(50) = NULL,
	@FromDate      DATETIME2(0) = NULL,
	@ToDate        DATETIME2(0) = NULL,
	@SessionId     INT = NULL
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		i.InvoiceId,
		i.PublicId,
		i.InvoiceNumber,

		i.CaseId,
		c.CaseNumber,
		c.Title AS CaseTitle,

		i.SessionId,

		i.InvoiceDate,
		i.Status,
		i.TotalAmount,

		i.CreatedBy,
		i.CreatedDate,

		(
			SELECT COUNT(*)
			FROM [cases].[InvoiceLine] il
			WHERE il.InvoiceId = i.InvoiceId
		) AS LineCount

	FROM [cases].[Invoice] i
	INNER JOIN [cases].[Case] c
		ON c.CaseId = i.CaseId

	WHERE
		(@CaseId IS NULL OR i.CaseId = @CaseId)
		AND (@Status IS NULL OR i.Status = @Status)
		AND (@SessionId IS NULL OR i.SessionId = @SessionId)
		AND (@FromDate IS NULL OR i.InvoiceDate >= @FromDate)
		AND (@ToDate IS NULL OR i.InvoiceDate <= @ToDate)

	ORDER BY
		i.InvoiceDate DESC,
		i.InvoiceId DESC;

END
GO
/****** Object:  StoredProcedure [cases].[usp_Payer_Upsert]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [cases].[usp_Payer_Upsert]
	@PublicId UNIQUEIDENTIFIER = NULL,
	@PayerName NVARCHAR(200),
	@PayerCode NVARCHAR(50) = NULL,
	@PayerType NVARCHAR(50) = NULL,
	@StateCode NVARCHAR(10) = NULL,
	@PhoneNumber NVARCHAR(50) = NULL,
	@Website NVARCHAR(500) = NULL,
	@PayerIdentifier NVARCHAR(100) = NULL,
	@EDIReceiverId NVARCHAR(100) = NULL,
	@ClaimsSubmissionMethod NVARCHAR(50) = NULL,
	@Notes NVARCHAR(MAX) = NULL,
	@UserName NVARCHAR(100),
	@IsActive BIT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	-- If CSV doesn't provide PublicId, generate one
	--IF @PublicId IS NULL
		--SET @PublicId = NEWSEQUENTIALID();

	DECLARE @ExistingPayerId INT;

	SELECT @ExistingPayerId = PayerId
	FROM [cases].[Payer]
	WHERE PublicId = @PublicId;

	IF @ExistingPayerId IS NULL
	BEGIN
		INSERT INTO [cases].[Payer]
		(
			PublicId,
			PayerCode,
			PayerName,
			PayerType,
			StateCode,
			PhoneNumber,
			Website,
			PayerIdentifier,
			EDIReceiverId,
			ClaimsSubmissionMethod,
			Notes,
			CreatedBy,
			IsActive
		)
		VALUES
		(
			ISNULL(@PublicId, NEWID()),
			@PayerCode,
			@PayerName,
			@PayerType,
			@StateCode,
			@PhoneNumber,
			@Website,
			@PayerIdentifier,
			@EDIReceiverId,
			@ClaimsSubmissionMethod,
			@Notes,
			@UserName,
			ISNULL(@IsActive, 1)
		);

		SELECT @PublicId AS PublicId, SCOPE_IDENTITY() AS PayerId;
	END
	ELSE
	BEGIN
		UPDATE [cases].[Payer]
		SET
			PayerCode = @PayerCode,
			PayerName = @PayerName,
			PayerType = @PayerType,
			StateCode = @StateCode,
			PhoneNumber = @PhoneNumber,
			Website = @Website,
			PayerIdentifier = @PayerIdentifier,
			EDIReceiverId = @EDIReceiverId,
			ClaimsSubmissionMethod = @ClaimsSubmissionMethod,
			Notes = @Notes,
			ModifiedDate = SYSUTCDATETIME(),
			ModifiedBy = @UserName,
			IsActive = ISNULL(@IsActive, IsActive)
		WHERE PublicId = @PublicId;

		SELECT @PublicId AS PublicId, @ExistingPayerId AS PayerId;
	END
END
GO
/****** Object:  StoredProcedure [cases].[usp_SearchCases]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [cases].[usp_SearchCases] =1005
CREATE PROCEDURE [cases].[usp_SearchCases]
	@ClientId INT = NULL
	--EXEC cases.usp_SearchCases  @ClientId = 1005
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		CaseId,
		CaseNumber,
		Title,
		Status,
		Priority,
		ClientId,
		OpenedDate
	FROM cases.[Case]
	WHERE @ClientId IS NULL OR ClientId = @ClientId
	ORDER BY OpenedDate DESC;
END
GO
/****** Object:  StoredProcedure [cases].[usp_Workbook_GetByCaseId]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [cases].[usp_Workbook_GetByCaseId]
	@CaseId INT
	--EXEC [cases].[usp_Workbook_GetByCaseId]  @CaseId = 1001
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		wt.WorkbookTypeId,
		wt.Name AS WorkbookName,
		wt.Description,
		wt.DisplayOrder,

		w.WorkbookId,
		--w.CaseId,
		COALESCE(w.CaseId, 2) AS CaseId,
		'session.187.aba_session_editable.pdf' as fileName,
		w.Status,
		w.DueDate,
		w.CreatedDate,
		w.CompletedDate,

		CAST(CASE WHEN w.WorkbookId IS NULL THEN 0 ELSE 1 END AS BIT) AS IsStarted,
		CAST(CASE WHEN ISNULL(doc.DocumentCount, 0) > 0 THEN 1 ELSE 0 END AS BIT) AS HasDocuments,
		ISNULL(doc.DocumentCount, 0) AS DocumentCount
	FROM [cases].[WorkbookType] wt
	LEFT JOIN [cases].[Workbook] w
		ON w.WorkbookTypeId = wt.WorkbookTypeId
	   AND w.CaseId = @CaseId
	   AND w.IsActive = 1
	OUTER APPLY
	(
		SELECT COUNT(*) AS DocumentCount
		FROM [cases].[WorkbookDocument] wd
		WHERE wd.WorkbookId = w.WorkbookId
		  AND wd.IsActive = 1
	) doc
	WHERE wt.IsActive = 1
	ORDER BY wt.DisplayOrder;
END;
GO
/****** Object:  StoredProcedure [cases].[usp_Workbook_InitializeForCase]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [cases].[usp_Workbook_InitializeForCase]
	@CaseId INT,
	@CreatedBy NVARCHAR(100)
	--EXEC [cases].[usp_Workbook_InitializeForCase]  @CaseId = 1, @CreatedBy = 'system'
AS
BEGIN
	SET NOCOUNT ON;

	;WITH SourceTypes AS
	(
		SELECT
			WorkbookTypeId,
			Name
		FROM [cases].[WorkbookType]
		WHERE IsActive = 1
	)
	INSERT INTO [cases].[Workbook]
	(
		CaseId,
		WorkbookTypeId,
		Status,
		CreatedBy,
		IsActive
	)
	SELECT
		@CaseId,
		st.WorkbookTypeId,
		'Pending',
		@CreatedBy,
		1
	FROM SourceTypes st
	WHERE NOT EXISTS
	(
		SELECT 1
		FROM [cases].[Workbook] w
		WHERE w.CaseId = @CaseId
		  AND w.WorkbookTypeId = st.WorkbookTypeId
	);
END;
GO
/****** Object:  StoredProcedure [cases].[usp_WorkbookQ_GetDocuments]    Script Date: 5/20/2026 12:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [cases].[usp_WorkbookQ_GetDocuments]
(
	@CaseId INT,
	@WorkbookQId INT
)
AS
/*
EXEC cases.usp_WorkbookQ_GetDocuments @CaseId = 1, @WorkbookQId = 1001
*/
BEGIN
	SET NOCOUNT ON;

SELECT
	r.DocumentType,
	d.DocumentId,
	d.Title,
	d.ContentType
FROM cases.WorkbookQRule r
LEFT JOIN cases.Document d
	ON d.WorkbookQId = r.WorkbookQId
	AND d.DocumentType = r.DocumentType
	AND d.CaseId = @CaseId
	AND d.IsActive = 1
WHERE r.WorkbookQId = @WorkbookQId
	ORDER BY d.CreatedDate DESC;
END
GO
USE [master]
GO
